@model List<web_application_mvc.Models.QuestionViewModel>

<h1>Все о каштанах</h1>
<link rel="stylesheet" type="text/css" href="~/Content/test.css">
<script defer type="text/javascript" src="~/Scripts/test.js"></script>
<form name="test" action="#">
    <div class="question">
        <p>Описание</p>
        <textarea class="description"></textarea>
        <p>Тип</p>
        <select name="types" onchange="toggleDisplay.call(this)">
            <option disabled selected>Выберите тип</option>
            <option value="enter">Ввод ответа</option>
            <option value="choose">Выбор ответа</option>
        </select>
        <div hidden class="choose-answer">
            <div class="variant">
                <input type="text">
                <input type="checkbox" name="is-correct" value="false">
            </div>
            <div class="variant">
                <input type="text">
                <input type="checkbox" name="is-correct" value="false">
            </div>
            <span class="btn-add-answer" onclick="addVariant.call(this)">Добавить вариант</span>
        </div>
        <div hidden class="enter-answer">
            <input type="text">
        </div>
    </div>
    <span class="btn-add-quest" onclick="addQuestion.call(this);">Добавить вопрос</span>
</form>
<button type="button" id="SaveTest" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Сохранить </button>

@section MyScritps
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SaveTest').on('click', function () {
                let questionsTitle = document.getElementsByClassName('question');
                let result = [];
                let question = {};

                for (let i = 0; i < questionsTitle.length; i++) {
                    let typeSelect = document.getElementsByName('types')[i];
                    let selectedOption = typeSelect.options[typeSelect.selectedIndex].value;
                    let answers = [];
                    let answer;
                    if (selectedOption === "enter") {
                        answer = {
                            Answer: questionsTitle[i].lastElementChild.firstElementChild.value,
                            IsCorrect: false
                        };
                        answers.push(answer);
                    }
                    else {
                        if (i === 0) {
                            answer = questionsTitle[i].children[4];
                        }
                        else {
                            answer = questionsTitle[i].children[5];
                        }
                        let variant = answer.children;                        
                        for (let i = 0; i < variant.length - 1; i++) {
                            if (variant[i] !== variant.lastElementChild) {
                                let variantValue = {
                                    Answer: variant[i].firstElementChild.value,
                                    IsCorrect: false
                                }
                                answers.push(variantValue);
                            }
                        }
                    }
                    question = {
                        Description: document.getElementsByClassName('description')[i].value,
                        Type: selectedOption,
                        Answers: answers
                    };
                    result.push(question);
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "Test")',
                    data: { result },
                    success: function (response) {
                        console.log("Success");
                    },
                    error: function (response) {
                        console.log("Error");
                    }
                });
                console.log(result);
            });
        });
    </script>
}