<div class="banner masthead bg-primary text-white text-center">
    <div class="container">
        <div class="banner-text">
            <h1 class="text-uppercase mb-0">Призма</h1>
            <h3 class="font-weight-light mb-0">Обучающая система студентов практикантов прокуратуры города Энгельса</h3>
        </div>        
    </div>
    <div class="background"></div>

</div>