@model Core.Template

<h2>Шаблон</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.Label("Описание")
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Список отчетов", "Index")
</p>