<div class="container">
    @using (Ajax.BeginForm("Search", "Statistics", new AjaxOptions { }, new { }))
    {
        <input class="search-input form-control form-control-lg" type="text" name="query"
               placeholder="Введите поисковый запрос..." autocomplete="off" />
        <input class="btn btn-default" type="submit" value="Поиск" />
        
        @Html.ActionLink("Сформировать отчет", "Index", "Reports", null, new { @class = "btn btn-default" })
    }
</div>