<div class="container">
    @using (Ajax.BeginForm("Search", "Statistics", new AjaxOptions { }, new { @style = "width=100%" }))
    {
        <input class="form-control form-control-lg" type="text" name="query"
               placeholder="Введите поисковый запрос..." autocomplete="off" />
        <input class="btn btn-primary btn-lg" type="submit" value="Поиск" />
    }
</div>