@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alert-test{
    padding: 0 !important;
    margin-bottom: 0 !important;
}


.question-test {
    width: 100%;
    border-radius: 4px;
    margin-top: 40px;
    background-color: #f0ffff;
    padding: 8px;
}

.template {
    text-align: center !important;
}

#laptop {
    padding: 0px;
    margin: 0px;
    height: 310px;
}

.green-spark {
    box-sizing: border-box;
    background-color: #18bc9c !important;
}

.layout-padding {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: darkslategrey;
}

.login-color {
    background-color: darkslategrey !important;
}

.login-color :hover{
    background-color: darkslategrey !important;
}

.body-margin {
    margin-top: 3rem;
}

.layout-font {
    line-height: 1.2em;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Alegreya', serif;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 0.13em;
    color: #fff !important;
}

.layout-font-menu * {
    color: #fff !important;
}   

/**********************************************************************/

.center-text {
    text-align: center;
    background-color: #fff;
}
.header {
    box-shadow: 0 5px 10px rgba(12, 95, 154, 0.82);
    height: 80px;
    background-color: #0b75bf;
}
.user {
    font-weight: bold;
    line-height: 3.5em !important;
    color: #fff !important;
}
.menu li a {
    line-height: 3.5em;
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Roboto Condensed', sans-serif;
}
.section-header {
    color: #FF4500;
    padding-bottom: 20px;
    font-family: 'Roboto Condensed', serif;
}
.sign-in-head {
    padding: 0 0 20px 30%;
    font-family: 'Roboto Condensed', serif;
}
.banner {
    position: relative;
    height: 600px;
    background-image: url('assets/business.jpeg');
    background-size: cover;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.banner-text {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 15%;
    position: relative;
    z-index: 3;
}
.banner-text h1 {
    letter-spacing: 0.15em;
    font-size: 60px;
}
.light-blue {
    color: #04a1e1;
}
.red {
    font-family: 'Roboto Condensed', sans-serif;
    color: #FF4500;
}
.dark-blue {
    color: #0e6daf;
}
.search-input {
    margin: 30px 0;
}
.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}