@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right dropdown">
            <li class="dropdown">
                <a href="#" class="user dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="font-family: 'Roboto Condensed',sans-serif; font-size: 15px;">
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Войти", "Login", "Account", null, new { id = "loginLink", @class = "user" })</li>
    </ul>
}